{% extends "layouts/base.html" %}
{% load static %}
{% block title %} HTML Tables {% endblock title %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'main.css' %}">
{% endblock stylesheets %}

{% block content %}
<br>

<h3>Table 1: Table of Fruits and Their Prices</h3>
<table class="custom-table">
    <tr>
        <th>Fruit</th>
        <th>Price</th>
    </tr>
    <tr>
        <td>Apple</td>
        <td>$0.25</td>
    </tr>
    <tr>
        <td>Orange</td>
        <td>$0.50</td>
    </tr>
    <tr>
        <td>Banana</td>
        <td>$1.00</td>
    </tr>
    <tr>
        <td>Pineapple</td>
        <td>$2.00</td>
    </tr>
    <tr>
        <th>Total</th>
        <th>$3.75</th>
    </tr>
</table>

<h3>Table 2: A more complex sample table</h3>
<table class="custom-table">
    <tr>
        <th rowspan="2"></th>
        <th colspan="3">Camelid comparison <br> Approximate as of 6/2011</th>
    </tr>
    <tr>
        <th># of humps</th>
        <th>Spits? <br> Indigenous region</th>
        <th>Produces wool?</th>
    </tr>
    <tr>
        <th>Dromedary</th>
        <td>1</td>
        <td>Arabian Peninsula <br> Yes</td>
        <td>Yes</td>
    </tr>
    <tr>
        <th>Camels (bactrian)</th>
        <td>2</td>
        <td>Africa/Asia <br> Yes</td>
        <td>Yes</td>
    </tr>
    <tr>
        <th>Llamas</th>
        <td>1</td>
        <td>Andes Mountains <br> Yes</td>
        <td>Yes</td>
    </tr>
</table>

{% endblock content %}